logs

# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
.buildpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs

# Maven
target

# Netbeans Ignore
nbproject
build
private

#idea project
.idea
*.iml
*.iws
*.ipr

Crystal/
example

#database
#pom.xml
#/batubara-online-core/src/main/resources/jdbc.properties

# Maven #
target

########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js


########################
# client side apps
########################
.sass-cache
