<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <prudent>true</prudent>
            <fileNamePattern>
                ${catalina.home:-.}/logs/test/adminduk-test_%d{yyyy-MM-dd_HH}.log
            </fileNamePattern>

            <!-- simpan file selama sebulan (24 * 31) -->
            <maxHistory>384</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    
    <logger name="id.go.depdagri.adminduk" level="INFO">
        <appender-ref ref="FILE" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>